body {
    font-family: 'Roboto', sans-serif;
    color : black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #c1c8ca;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    /* Ensure text is above other elements */
    z-index: 10;
}

/* Adjust font size for small screens */
@media screen and (max-width: 600px) {
    .container {
        font-size: 1.5rem; /* Slightly smaller text on mobile */
    }

    .tagline {
        font-size: 0.9rem; /* Adjust tagline size */
    }

    .logo {
        width: 200px;  /* Scale down the logo */
        height: 200px;
    }
}


.logo {
    width: 300px;
    height: 300px;
}

.tagline {
    font-size: 1rem;
    font-weight: normal;
    padding: 8px;
    margin-top: 10px;
}


/* for debugging */
* {
    color: red !important;
    background-color: yellow !important;
}
