body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #c1c8ca;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  width: 300px;
  height: 300px;
}

.tagline {
  font-size: 1rem;
  font-weight: normal;
  padding: 8px;
  margin-top: 10px;
}
